@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

body{
    background-color: #6f42c1 ;
    
}

.card-header{
    background-color: rgb(255, 255, 255);
    font-family: "Hind Vadodara", sans-serif;
}

.btn{
    background-color: #6f42c1;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}